<!DOCTYPE html>
<html lang="fr">
(:head:)
<body>
    <div id="maincontainer" id="(:id:)" class="(:id:)">
        (:header:)
        <div id="container">
            <div class="aside">
                <div class="titrebox top collapsible" >
                    <h2>themes</h2>
                </div>
                <div class="menu">
                    (:menu:)
                </div>
                <div class="titrebox mid" >
                    <a href="/glossaire">
                        <h2>glossaire generé ( POC)</h2>
                    </a>
                </div>
                <div class="titrebox mid collapsible" >
                    <h2>glossaire</h2>
                </div>
                <div class="glossaire">              
                    (: for a in "a,b,c,e,d,e,f,g,h,ijk,l,m,no,p,qr,s,t,uv,wxyz".split(","):)
                    <div class="gloss_lettre">
                        <a href="/(:a:).html">(:a:)</a>
                    </div>
                    (:end:)
                </div>
                <div class="titrebox mid">
                    <h2> <a href="/dialoguesdotapea.html">dialogues</a></h2>
                </div>
            </div>
            <div id="content" class="">
                (: viewContent :)
            </div>
            <div class="edits">
                <a href="/edit/(:id:)" class="edit_btn">edit</a>
                <a href="/save/(:id:)" class="save_btn">rec</a>

            </div>
        </div>
        (: footer :)
    </div>
</body>

</html>